* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@charset "UTF-8";

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #2c3e50;
}

li {
  list-style-type: none;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: calc(50% - 12px);
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 10px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #2c3e50;
}

.btn-azione {
  padding: 8px 16px;
  margin: 10px 6px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-update,
.btn-delete {
  background-color: #2c3e5050;
}

.btn-update:hover,
.btn-delete:hover {
  background-color: #2c3e50;
  opacity: 0.5;
  transform: scale(1.05);
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 20%;
  word-break: break-word;
  padding: 20px;
  background-color: #2c3e50;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
}

.sidebar .categories ul {
  width: auto;
}

.sidebar .categories ul li {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar .categories ul li:hover,
.sidebar .categories ul li.active {
  background-color: #34495e;
}

.sidebarDisplayNone{
  display: none;
}



.main-content,
.wide-content {
  flex: 1;
  height: 100vh;
  background-color: #ecf0f1;
  padding: 30px;
  overflow-y: auto;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

 


/*** LINK SUPERIORI ***/
.top-nav {
  background-color: #2c3e50;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.top-nav-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.top-nav-links li {
  margin-bottom: 10px;
}

.top-nav-links a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  padding: 1px 15px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
  display: inline-block;
}

.top-nav-links a:hover {
  border-bottom: 3px solid #fff;
}

.nav-link.active {
  color: lightblue;
}

/* ARTICOLI */
.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 10px;
}
 
.article-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 200px;
  max-height: 220px;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: background 0.3s;
}

.item-lungo-container {
  position: relative;
  padding-bottom: 1rem;
}

.testo-lungo {
  max-height: 120px;
  overflow-y: auto;
  opacity: 0.4;
  font-style: italic;
  transition: opacity 0.3s ease;
  padding-right: 12px; /* per spazio a destra */
}

.testo-lungo:hover {
  opacity: 1;
  font-style: normal;
}

.freccia-scroll {
  position: absolute;
  right: 0;
  bottom: 14px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #444;
  opacity: 0.6;
  padding: 2px 6px;
}

.freccia-scroll:hover {
  opacity: 1;
}

.article-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-item .actions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.article-item:hover .actions {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: auto;
}


/*** PAGINAZIONE ***/
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}

.pagination .page-link {
  background-color: #2c3e50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination .page-link a {
  color: white;
  text-decoration: none;
}

.pagination .page-link:hover {
  opacity: 0.8;
}

.pagination .page-link.backgroundRed {
  background-color: #e74c3c;
}

.pagination .page-link.backgroundRed:hover {
  background-color: #c0392b;
}

.pagination .active .page-link {
  background-color: #2c3e50;
  color: white;
  border-color: #007bff;
}



.rosso {
  color: red;
  font-weight: bold;
}
.verde {
  color: green;
  font-weight: bold;
}
.blue {
  color: blue;
  font-weight: bold;
}




/* MEDIA QUERY */
@media (max-width: 768px) {
  .article-list {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}