@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
  overflow:auto;
  word-break: break-word;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #ecf0f1;
}

li {
  list-style-type: none;
}

input {
  width: 50%;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #2c3e50;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

input,
select,
textarea {
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
input,textarea:focus{
  outline: none;
  border: 2px solid #ccc;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: relative;
  top: 100px;
  width: 220px;
  background-color: #ecf0f1;
  padding: 1rem;
  flex-shrink: 0;

}

.sidebar h4 {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.sidebar a:hover {
  color: #2c3e50;
}


.forma-ricerca input{
  width: calc(100% - 6px);
}
.forma-ricerca button {
  margin-top:4px;
}

.utentiFormDisplayNone{
  display: none;
}

.fruttiFormDisplayNone{
  display: none;
}



/*** LINK SUPERIORI ***/
.top-nav {
  position: fixed;
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  min-height: 70px;
  z-index: 1000;
}

.top-nav-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.top-nav-links li {
  margin-bottom: 10px;
}

.top-nav-links a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  padding: 1px 15px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
  display: inline-block;
}

.top-nav-links a:hover {
  border-bottom: 3px solid #fff;
}


.nav-link.active {
  color: lightblue;
}

  .nav-link.logout {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    padding: 1px 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    display: inline-block;
    cursor: pointer;
  }

.main-content{
  flex: 1;
  height: 100%;
  background-color: #ecf0f1;
  padding: 30px;
  overflow-y: auto;
}


.content{
  position: relative;
  margin-top: 90px;
}


.toggleLink{
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 10px 10px 10px 0;
  width: 200px;
  text-align: center;
}

.toggleLink:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: rgba(255,255,255, 0.5);
}

.repartoNome {
  padding-left: 30px;

}

.repartoNome li{
  display: inline;
  padding:0 20px;
}
.repartoNome a{
  text-decoration: none;
  font-size: 24px;
  color: blue;
  font-weight: bold;
}

.generaleForm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ARTICOLI */
.article-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 1px;
}

.article-item-wrapper {
  padding-bottom: 10px;
  border-radius: 6px;
  height: 260px;
  transition: 0.3s ease-in-out;
  background: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
 
.article-item {
  position: relative;
  height: 210px;
  max-height: 220px;
  overflow: hidden;
  overflow-wrap: break-word;
  background-color: white;
}
.article-item-wrapper:hover {
  transform: translateY(-2px);
  transition: color 0.3s ease, border-bottom 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item-lungo-container {
  position: relative;
  padding-bottom: 1rem;
}

.testo-lungo {
  max-height: 210px;
  overflow-y: auto;
  opacity: 0.4;
  font-style: italic;
  transition: opacity 0.3s ease;
  padding-right: 12px; /* per spazio a destra */
}

.testo-lungo:hover {
  opacity: 1;
  font-style: normal;
}

.freccia-scroll {
  position: absolute;
  right: 0;
  bottom: 14px;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #444;
  opacity: 0.6;
  padding: 2px 6px;
}

.freccia-scroll:hover {
  opacity: 1;
}

.article-item .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}
.article-item:hover .actions {
  opacity: 1;
}

.btn-azione {
  padding: 8px 16px;
  margin-right: 0.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-update,
.btn-delete {
  background-color: #2c3e5050;
}

.btn-update:hover,
.btn-delete:hover {
  background-color: #2c3e50;
  opacity: 0.5;
  transform: scale(1.05);
}
 
.btn-salva {
  background-color: #28a745;
  color: white;
}

.btn-modifica {
  background-color: #ffc107;
  color: black;
}

.btn-elimina {
  background-color: #dc3545;
  color: white;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: auto;
}


/*** PAGINAZIONE ***/
.paginationWrap{
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}

.pagination .page-link {
  background-color: #2c3e50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination .page-link a {
  color: white;
  text-decoration: none;
}

.pagination .page-link:hover {
  opacity: 0.8;
}


.forma-ricerca button, .forma-ricerca input {
  width: 100%;
  border-radius: 4px;
}

.forma-ricerca button {
  background: #2c3e50;
  color: white;
}



.rosso {
  color: red;
  font-weight: bold;
}
.verde {
  color: green;
  font-weight: bold;
}
.blue {
  color: blue;
  font-weight: bold;
}
.gray {
  color: gray;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .forma-ricerca input{
    width: calc(100% - 12px);
  }
  .forma-ricerca button {
    width: calc(100% - 12px);
  }
  .paginationWrap{
    display: flex;
    position: static;
    padding-top:100px;
    height: auto;
    width: 100%;
  }
  .pagination{
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .forma-ricerca input{
    width: calc(100% - 12px);
  }
  .forma-ricerca button {
    width: calc(100% - 12px);
  }
  .paginationWrap{
    display: flex;
    position: static;
    padding-top:100px;
    height: auto;
    width: 100%;
  }
  .pagination{
    width: 100%;
  }

}

/* MEDIA QUERY */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margom:0;
  }

  .top-nav {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .sidebar {
    top: 0;
    width: calc(100% - 20px);
    height: auto;
    position: relative;
    z-index: 2;
    background: white;
    margin: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }


  .main-content {
    margin-top: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .toggleLink{
    margin: 20px 0 20px 0;
  }


  .categories div{
    display: inline-block;
    padding-right:10px;
  }

  .forma-ricerca{
    width: 100%;
  }
  .forma-ricerca input {
    width: calc(100% - 50px);
    height: 50px;
    border-right: none;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 15px;
  }

  .forma-ricerca button {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12pt;
    text-align: center;
    text-anchor: center;
  }


  .article-list {
    grid-template-columns: 1fr;
  }

  .paginationWrap{
    display: flex;
    position: static;
    height: 300px;
    width: 100%;
  }
  .pagination{
    width: 100%;
  }

}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margom:0;
  }

  .top-nav {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .sidebar {
    width: calc(100% - 20px);
    height: auto;
    position: relative;
    z-index: 2;
    background: white;
    margin: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .main-content {
    margin-top: 0;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .content{
    position: relative;
    margin-top: 40px;
  }

  .repartoNome li{
    display: inline;
    padding:0 16px;
  }

  .generaleForm {
    margin-top: 1px;
    margin-bottom: 1rem;
  }

  .pagination .page-link {
    padding: 10px 10px;
  }

  .paginationWrap{
    display: flex;
    position: static;
    padding-top:1px !important;
    height: 200px;
  }

  .pagination{
    width: 100%;
  }

  .forma-ricerca{
    width: 100%;
  }

  .forma-ricerca input {
    width: calc(100% - 50px);
    height: 50px;
    border-right: none;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 15px;
  }

  .forma-ricerca button {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 12pt;
    text-align: center;
    text-anchor: center;
  }
}
